{%extends 'layout.html'%}

{%block content%}

<div id="login-block" class="form-horizontal " >
    <legend>用户登录</legend>
    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">用户名：</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="username" name="username">
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">密码：</label>
        <div class="col-sm-3">
            <input type="password" class="form-control" id="password" name="password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-3">
            <p class="warning"></p>
        </div>
    </div>
    <div class="col-sm-offset-2">
        <button id="btn-login" type="submit" class="btn btn-info">Submit</button>
    </div>

</div>

{%endblock%}